<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}track{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>
        <h1>
            Rechercher des titres
        </h1>
        {% for data in data %}
            <p> {{ data.name }} </p>
        {% endfor %}
    </body>
</html>
